
<div class="chat-window">
  <div class="chat-list">
    <p>FP-Tracker: Welcome to Force Protection Tracker. Type your message below to begin.</p>
    <p>FP-Tracker: If reporting a departure the format is "lastname, lastname going to destination".
    <p>FP-Tracker: If reporting an arrival after a departure was reported simply type "arrived". If no departure was reported, type "lastname, lastname arrived at destination"
    </p>
    <p>FP-Tracker: For additional help, type "instructions" </p>
  </div>
 
</div>

<table class="personnel-list">
	<tr>
		<th><%= link_to "Last Name", :sort => "last_name" %></th>
		<th><%= link_to "First Name", :sort => "first_name"%></th>
		<th><%= link_to "Location", :sort => "location" %></th>
	</tr>
		<% for person in @personnel %>
			<tr>
				<td><%= person.last_name.capitalize %></td>
				<td><%=	person.first_name.capitalize %></td>
				<td><%= person.location.capitalize %></td>
			</tr>
		<% end %>
</table>

<div class="chat-input clearfix">
  <input type="text" />
  <button class='submit'>Send Text</button>
</div>


